<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand k text-white">Encuesta</a>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="bs-stepper">
                <div class="bs-stepper-header" role="tablist">
                    <!-- your steps here -->
                    <div class="step" data-target="#logins-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="logins-part"
                            id="logins-part-trigger">
                            <span class="bs-stepper-circle"></span>
                            <span class="bs-stepper-label"></span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#information-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="information-part"
                            id="information-part-trigger">
                            <span class="bs-stepper-circle"></span>
                            <span class="bs-stepper-label"></span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#tercera-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="tercera-part"
                            id="tercera-part-trigger">
                            <span class="bs-stepper-circle"></span>
                            <span class="bs-stepper-label"></span>
                        </button>
                    </div>
                </div>
                <div class="bs-stepper-content">
                    <!-- your steps content here -->
                    <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                        <div class="row">
                            <div class="col-12 col-lg-8 offset-lg-2">
                                <div class="card animate__animated animate__fadeIn">
                                    <div class="card-body">
                                        <div class="col-12">
                                            <label for="">Hola</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">@</span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Username"
                                                    aria-label="Username" aria-describedby="basic-addon1">
                                            </div>
                                            <div class="w-100 text-center">
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-primary">Siempre</button>
                                                    <button type="button" class="btn btn-primary">Frecuentemente</button>
                                                    <button type="button" class="btn btn-primary">A veces</button>
                                                    <button type="button" class="btn btn-primary">Nunca</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                        <div class="row">
                            <div class="col-12 col-lg-8 offset-lg-2">
                                <div class="card animate__animated animate__fadeIn">
                                    <div class="card-body">
                                        <div class="col-12">
                                            <label for="">Hola</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">@</span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Username"
                                                    aria-label="Username" aria-describedby="basic-addon1">
                                            </div>
                                            <div class="w-100 text-center">
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-secondary">Siempre</button>
                                                    <button type="button" class="btn btn-secondary">Frecuentemente</button>
                                                    <button type="button" class="btn btn-secondary">A veces</button>
                                                    <button type="button" class="btn btn-secondary">Nunca</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tercera-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                        <div class="row">
                            <div class="col-12 col-lg-8 offset-lg-2">
                                <div class="card animate__animated animate__fadeIn">
                                    <div class="card-body">
                                        <div class="col-12">
                                            <label for="">Hola</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">@</span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Username"
                                                    aria-label="Username" aria-describedby="basic-addon1">
                                            </div>
                                            <div class="w-100 text-center">
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-warning">Siempre</button>
                                                    <button type="button" class="btn btn-warning">Frecuentemente</button>
                                                    <button type="button" class="btn btn-warning">A veces</button>
                                                    <button type="button" class="btn btn-warning">Nunca</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8 offset-lg-2">
            <button (click)="next()" class="btn btn-lg btn-primary float-right ml-2">Siguiente</button>
            <button (click)="previous()" class="btn btn-lg btn-secondary float-right">Anterior</button>
        </div>
    </div>
</div>