/* You can add global styles to this file, and also import other style files */
.k, p, h1, h2, h3, h4, h5, h6{
    font-family: 'Kreon', serif;
}

.bs-stepper-circle {
    width: 1em;
    height: 1em;
}